@import 'colors','fonts','reset';

body {
    background: -moz-radial-gradient(center, $radial-gradient-light, $radial-gradient-dark);
    background: -webkit-radial-gradient(center, $radial-gradient-light, $radial-gradient-dark);
    background: $radial-gradient-light;
    background: radial-gradient(ellipse at center, $radial-gradient-light, $radial-gradient-dark);
    font-family: $main-font;
    height: 100vh;
    box-sizing: border-box;
}

button:hover {
    color: $hover-btn;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}

.header {
    border-radius: 10px;
    border:2px solid $header-outline;
    display: flex;
    font-weight: $bold-weight;
    height: 140px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
    width: 750px;

    &__text {
        color: $white;
        font-size: 2.25em;
        line-height: 80%;
        text-transform: uppercase;
    }

    &__score {
        align-items: center;
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120px;

        #header__score__title {
            color: $score-text;
            font-size: 1.2em;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        #header__score__count {
            color: $dark-text;
            font-size: 2.6em;
        }
    }
}

.select, .result {
    height: 500px;
}

.select {
    background-image: url(/images/bg-triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    display: grid;
    grid-template-areas:
        "paper scissors"
        "rock rock";
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(2, 240px);
    justify-content: center;
    margin: 0 auto;
    width: 500px;

        &__rock, &__scissors, &__paper{
            align-self: center;
            background-color: white;
            border-radius: 100%;
            cursor: pointer;
            justify-self: center;

            > img {
            margin: 35px;
            width: 70px;
            }
        }

        &__paper {
            grid-area: paper;
        }

        &__scissors {
            grid-area: scissors;
        }

        &__rock {
            grid-area: rock;
        }
}

.result {
    display: none;
    grid-template-areas:
        "player box pc";
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    margin: auto;

        &__player, &__pc{
            align-self: center;
            border-radius: 100%;
            height: 200px;
            justify-self: center;
            position: relative;

            > img {
                margin: 35px;
                width: 70px;
            }
        }

        &__player {
            background-color: $white;
            grid-area: player;
        }

        &__player::before, &__pc::before {
            color: $white;
            font-size: 1.6em;
            font-weight: $bold-weight;
            position: absolute;
            top:-80px;
            width: max-content;
        }

        &__player::before {
            content: "YOU PICKED";
            left: 10px;
        }

        &__pc {
            grid-area: pc;
            position: relative;
        }

        &__pc::before {
            content: "THE HOUSE PICKED";
            left: -15px;
        }

        &__box {
            align-self: center;
            color: $white;
            display: flex;
            flex-direction: column;
            grid-area: box;
            justify-self: center;
            width: 100%;

            &__btn {
                border-radius: 10px;
                border: 1px solid $white;
                font-family: $main-font;
                font-size: 1.25em;
                letter-spacing: .2em;
                padding: 20px;
                text-transform: uppercase;
                width: 300px;
            }

            > p {
                font-size: 2.8em;
                margin: 20px;
                text-align: center;
            }
        }

        &__message {
            height: 60px;
        }
}

.rules {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    margin-top: 100px;
    padding-right: 50px;
    width: 100%;

    &__button {
        background-color: transparent;
        border-color: $white;
        border-radius: 10px;
        color: $white;
        display: block;
        font-family: $main-font;
        letter-spacing: 0.15em;
        padding: 15px;
        position: absolute;
        text-transform: uppercase;
        width: 150px;
    }
}

.box__rules {
    background: $white;
    border-radius: 10px;
    display: none; //change to none
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: -70%;
    width: fit-content;

    &__title{
        color: $dark-text;
        display: flex;
        font-size: 2em;
        font-weight: $bold-weight;
        justify-content: space-between;
        padding-bottom:20px;
        text-transform: uppercase;

        &-btn {
            color: $header-outline;
            cursor: pointer;
            font-weight: $normal-weight;
            text-transform: none;
        }
    }
}

.active {
    display: block;
}

.darken {
    filter: brightness(50%);
}

.paper-style {
    border: 20px solid $paper-gradient-light;
    box-shadow: 0 10px  $paper-gradient-dark, inset 0 10px $grey;
}

.rock-style {
    border: 20px solid $rock-gradient-light;
    box-shadow: 0 10px  $rock-gradient-dark, inset 0 10px $grey;
}

.scissors-style {
    border: 20px solid $scissors-gradient-light;
    box-shadow: 0 10px  $scissors-gradient-dark, inset 0 10px $grey;
}

.gray-style {
    background: $grey;
    border: 20px solid $grey;
}

.win{
    position: relative;
    transition: box-shadow 3s ease;
    z-index: -1;
}

.rock-style.win {
    box-shadow:0 10px $rock-gradient-dark, inset 0 10px $grey, 0 0 0 40px $win-gradient-1, 0 0 0 80px $win-gradient-2,0 0 0 120px $win-gradient-3,0 0 0 160px $win-gradient-4;
}

.paper-style.win {
    box-shadow:0 10px  $paper-gradient-dark, inset 0 10px $grey, 0 0 0 40px $win-gradient-1, 0 0 0 80px $win-gradient-2,0 0 0 120px $win-gradient-3,0 0 0 160px $win-gradient-4;
}

.scissors-style.win {
    box-shadow:0 10px  $scissors-gradient-dark, inset 0 10px $grey, 0 0 0 40px $win-gradient-1, 0 0 0 80px $win-gradient-2,0 0 0 120px $win-gradient-3,0 0 0 160px $win-gradient-4;
}



@media only screen and (max-width: 1000px) {
    .header {
        width: 450px;
    }

    .select, .result {
        height: 500px;
    }

    .result {
        grid-template-areas:
            "player pc"
            "box box";
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(2, 250px);
        
        &__player::before, &__pc::before {
            top:220px;
        }

        &__box {
            padding-top: 150px;

            &__btn {
                border-radius: 10px;
                font-family: $main-font;
                font-size: 1.25em;
                letter-spacing: .2em;
                margin: auto;
                padding: 20px;
                text-transform: uppercase;
                width: 300px;
            }
        }
    }

    .rules {
        justify-content: center;
        padding-right: 0;
    }
}


@media only screen and (max-width: 600px) {
    .wrapper{
        padding-top: 20px;
    }
    .header {
        height: max-content;
        width: 80%;

        &__text {
            font-size: 1.4em;
            line-height: 100%;
        }

        &__score {
            width: 100px;
            padding-top: 0;
        }
    }

    .select, .result {
        margin-top: 15px;
        height: 150px;
    }

    .select {
        background-position: center top 70px;
        background-size: 40%;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 120px);
        width: 100%;

        &__rock, &__scissors, &__paper{
            > img {
            margin: 10px;
            width: 40px;
            }
        }
    }

    .result {
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 120px);
        grid-template-areas:
            "player pc"
            "box box";

        &__player, &__pc {
            height: auto;
            padding-top: 10px;
            > img {
                margin: 10px;
                width: 40px;
                }
        }

        &__player::before, &__pc::before {
            top:120px;
            font-size: 1.1em;
        }

        &__player::before {
            content: "YOU PICKED";
            left: -10px;
        }

        &__pc::before {
            content: "THE HOUSE PICKED";
            left: -40px;
        }

        &__box {
            padding-top: 80px;
            &__btn {
                border-radius: 10px;
                border: 1px solid $white;
                font-family: $main-font;
                font-size: 1.0em;
                letter-spacing: .2em;
                padding: 10px;
                text-transform: uppercase;
                width: 200px;
            }

            > p {
                font-size: 2em;
                margin: 0;
                text-align: center;
            }
        }

        &__message {
            height: 50px;
        }
    }
    .rules {
        padding-top: 30px;
    }

    .box__rules {
        top: -80%;
    }
}